<main>
    <section>
        <img src="https://images.pexels.com/photos/31356866/pexels-photo-31356866/free-photo-of-majestic-view-of-snow-capped-mount-fuji.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="150" alt="Nenhuma imagem a ser mostrada">
        <h2></h2>
        <button>teste</button>
        <div>
            <span>
                or
            </span>
        </div>
        <button>teste</button>
    </section>
    <section>
        <h1>
            You Should, MoveIt!
        </h1>
        <img src="https://images.pexels.com/photos/31225680/pexels-photo-31225680/free-photo-of-outdoor-basketball-hoop-under-blue-sky.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </section>
</main>